.category__container {
    background-color: black;
    position: relative;
    border-radius: 20px;
}
.category__content {
    margin-top: 25px;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 25px;
    display: grid;
    overflow: hidden;
    padding-left: 25px;
}
.category__box {
    height: 100%;
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
}
.category__box:hover {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
}
.category__img {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 1px 3px #888;
}

.category__description {
    font-weight: 700;
    font-size: 23px;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    color: white;
}

.category__button {
    position: absolute;
    top: 36%;
    background-color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
    line-height: 100px;
    width: 45px;
    text-align: center;
    opacity: 0.5;
    box-shadow: 0 1px 3px #888;
}
.category__button:hover,
.buttonIcon:hover {
    opacity: 1;
    cursor: pointer;
}
