@media screen and (min-width: 1024px) {
    .navbarMb__component {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .navbar__component {
        display: none;
    }
    .navbarMb__component {
        display: block;
        background-color: #232f3e;
    }
    .navbar__header {
        flex-direction: column;
        height: 100%;
        margin: 0 10px;
        background: none;
    }
    .navbar__first {
        width: 100%;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        display: flex;
    }
    .navbar__logo {
        margin: 15px 0 5px 10px;
    }
    .home__banner {
        height: 100px;
    }
    .navbar__search {
        border-radius: 15px;
        background: white;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .navbar__searchBox {
        width: 87%;
        border-radius: 15px;
        outline: none;
        padding: 5px;
    }
    .navbar__searchBox,
    .navbar__searchIcon {
        margin: unset;
    }
    .cart__main {
        width: 100vw;
    }
    .cart__container {
        width: 70vw;
    }
    .cart__product {
        flex-direction: column;
        align-items: center;
    }
    .cart__content {
        width: 60vw;
        margin-top: 10px;
    }
    .subtotal {
        display: flex;
        margin-top: 10px;
        width: 100%;
        justify-content: space-between;
    }
    .cart__remove {
        margin: unset;
    }
    .category__container {
        height: 40%;
    }
    .category__content {
        padding: 0 90px;
    }
    .category__box {
        padding-right: 50px;
    }
    .category__img {
        height: 200px;
        width: 200px;
    }
    .banner__button {
        top: 21%;
        height: 0;
    }
    .sale__home {
        grid-template-areas: 'sidebar';
    }
    .sidebar__content {
        display: flex;
        width: 90vw;
    }
    ul .prices {
        font-size: 20px;
    }
    .priceranges__input {
        flex-direction: column;
    }
    .priceranges__input input {
        width: 35vw;
    }
    .priceranges__input input:first-child {
        margin-bottom: 10px;
    }
    .product__first {
        width: 10rem;
    }
    .product__img {
        width: 25vw;
    }
    .product__second {
        width: 50vw;
    }
    .product__description {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    .product-detail {
        flex-direction: column;
    }
    .product-detail__left {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    .product-detail__img {
        width: 50vw;
    }
    .product-detail__title {
        font-size: 16px;
        line-height: 30px;
    }
}
